/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/rgb.h>

&mt {
    flavor = "balanced";
	quick-tap-ms = <190>;
};

/ {
    chosen {
        zmk,physical-layout = &default_layout;
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";
            // --------------------------------------------------------------------------------------------------
            // | VOID |  Q  |  W  |  E     |  R  |  T     | VOID | VOID |  Y  |  U   |  I    |  O  |  P  | VOID |
            // | VOID |  A  |  S  |  D     |  F  |  G     | VOID | VOID |  H  |  J   |  K    |  L  |  ;  | VOID |
            // | VOID |  Z  |  X  |  C     |  V  |  B     |             |  N  |  M   |  ,    |  .  |  /  | VOID |
            //                    | mo4TAB | LWR | lt1RET |             | SPC | RSE  | PSCRN |
            bindings = <
                &kp X &kp Q        &kp W 	  &kp E       &kp R      &kp T 		&kp X &kp X   &kp Y     &kp U 	 	&kp I 		&kp O 		&kp P    		&kp X
                &kp X &mt LSHIFT A &mt LGUI S &mt LCTRL D &mt LALT F &kp G 		&kp X &kp X   &kp H     &mt RALT J 	&mt RCTRL K &mt LGUI L  &mt RSHIFT SEMI &kp X
                &kp X &kp Z        &kp X 	  &kp C 	  &kp V      &kp B     			  	  &kp N   	&kp M  		&kp COMMA 	&kp DOT 	&kp FSLH 		&kp X
                                              &lt 4 TAB   &mo 2      &lt 1 RET 		      	  &kp SPACE &mo 1       &kp PSCRN
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &inc_dec_kp PG_UP PG_DN &inc_dec_kp C_PREV C_NEXT &inc_dec_kp C_BRI_DN C_BRI_UP>;
        };

        lower_layer {
            display-name = "NUMBER";
            // ------------------------------------------------------------------------------------
            // | VOID |     ` |  [  | ]      |  \  |     | VOID | VOID | 7 | 8 | 9 | BSP | = | VOID |
            // | VOID | SHFT  |     | CTRL/U | ALT |     | VOID | VOID | 4 | 5 | 6 | RET | - | VOID |
            // | VOID |       |  L  | D      |  R  |     |             | 1 | 2 | 3 |     | ' | VOID | 
			// 						|        |     |     |             | 0 |   |   |
			bindings = <
				&kp X &kp GRAVE	    &kp RBKT &kp LBKT     &kp BSLH       &trans   &kp X &kp X &trans    &kp N7   &kp N8    &kp N9 &kp KP_EQUAL        &kp X 
                &kp X &kp LSHIFT    &trans   &mt LCTRL UP &kp LALT	     &trans   &kp X &kp X &trans    &kp N4   &kp N5    &kp N6 &mt RSHIFT MINUS    &kp X  
                &kp X &trans        &kp LEFT &kp DOWN     &kp RIGHT      &trans               &trans    &kp N1   &kp N2    &kp N3 &kp APOS            &kp X  
                                             &trans       &trans         &trans               &kp SPACE &lt 2 N0 &trans        
            >;
        };

        raise_layer {
            display-name = "NAVIG";
            // -----------------------------------------------------------------------------------------
            // | VOID | ESC   |  [  |  ]  |  \   |     | VOID | VOID |     |     | RET | BSP | DEL | VOID |
            // | VOID |       |     |     |      |     | VOID | VOID | LFT | DWN | UP  | RGT |  =  | VOID |
            // | VOID |       |     |     |      |     |      |      |     |     |     |     |  '  | VOID |
            //                      |     |      |     |      |      |     |     |
            bindings = <
                &kp X &kp ESC       &kp RBKT &kp LBKT  &kp BSLH &trans   &kp X &kp X &trans   &trans   &kp RET  &kp BSPC  &kp DEL 			  &kp X
                &kp X &kp LSHIFT	&kp LGUI &kp LCTRL &kp LALT &trans   &kp X &kp X &kp LEFT &kp DOWN &kp UP   &kp RIGHT &mt RSHIFT MINUS    &kp X
                &kp X &trans  		&trans   &trans    &trans   &trans 			     &trans   &trans   &trans   &trans    &kp APOS     		  &kp X
                                    &trans   &trans    &trans                        &trans   &trans   &trans
            >;
        };

        extra_layer_1 {
            display-name = "NUMPAD";
            // -----------------------------------------------------------------------------------------
            // | VOID |     |     |     |      |     | VOID | VOID |     |     |    |     |     | VOID |
            // | VOID |     |     |     |      |     | VOID | VOID |     |     |    |     |     | VOID |
            // | VOID |     |     |     |      |     |      |      |     |     |    |     |     | VOID |
            //                    |     |      |     |      |      |     |     |
            bindings = <
                &trans &trans  &trans   &kp UP 	 &kp BKSP  &trans &trans &trans &trans   &kp N7 &kp N8 &kp N9 &kp KP_MINUS &kp BSPC 
                &trans &kp RET &kp LEFT &kp DOWN &kp RIGHT &trans &trans &trans &kp DOT  &kp N4 &kp N5 &kp N6 &kp KP_EQUAL &kp DEL   
                &trans &trans &trans   &trans   &trans    &trans           	   &kp RET   &kp N1 &kp N2 &kp N3 &kp APOS     &kp DOT   
                                       &trans   &trans    &trans               &kp SPACE &kp N0 &kp RET       
            >;
        };

        extra_layer_2 {
            display-name = "CONFIG";
            bindings = <
                &trans &trans 		&trans 			&trans 		  &trans 		&trans 		 &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &bt BT_SEL 0 &bt BT_SEL 1    &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4 &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &bt BT_CLR   &rgb_ug RGB_TOG &sys_reset    &bootloader   &studio_unlock 			   &trans &trans &trans &trans &trans &trans
                                     				&trans 		  &trans        &trans               	   &trans &trans &trans       
            >;
        };

        extra_layer_3 {
            display-name = "EXTRA 2";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_4 {
            display-name = "EXTRA 4";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_5 {
            display-name = "EXTRA 5";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };

        extra_layer_6 {
            display-name = "EXTRA 6";
            bindings = <
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans &trans
                &trans &trans &trans &trans &trans &trans               &trans &trans &trans &trans &trans &trans
                                     &trans &trans &trans               &trans &trans &trans       
            >;
        };
    };
};
